@import url("capecx.css");

.dijitEditorIconLogin { background-position: -832px; }

/* user_批量数据录入_-992px */
.dijitEditorIconUserBatch { background-position: -992px; }
/* user_批量上传照片_-902px */
.dijitEditorIconUserPic { background-position: -902px; }
/* user_重置密码_-940px */
.dijitEditorIconUserPass { background-position: -940px; }
/* user_调整状态_-867px */
.dijitEditorIconUserStatus { background-position: -866px; }

/* role_权限分配_-921px */
.dijitEditorIconRolePermit { background-position: -921px; }
/* role_用户分配_-975px */
.dijitEditorIconSetUser { background-position: -974px; }

/* resource_调整状态_-867px */
.dijitEditorIconSetStatus { background-position: -866px; }

/* org_调整批次_-850px */
.dijitEditorIconOrgBatch { background-position: -850px; }

/* group_组关系管理_-1009px */
.dijitEditorIconGroupRelat { background-position: -1009px; }
/* group_角色分配_-1028px */
.dijitEditorIconGroupRole { background-position: -1028px; }

.dijitTabCloseButton {
	margin-left: 0px;
}
.dijitTab .tabLabel {
	font-weight:bold;
	color:#333
}
.capec .dijitTabPaneWrapper {
	border:1px solid #bed5f4;
	border-top:none;
}
.capec .dijitTabInnerDiv {
	padding:0 3px 0 0;
	margin: 0 0 0 4px;
	background: url(images/tabContainerSprite.gif) no-repeat;
	background-position: right -400px;
}
.capec .dijitTab {
	background: url(images/tabContainerSprite.gif) no-repeat 0 -300px;
	border-bottom: 1px #bed5f4 solid;
}
.capec .dijitTabContainerTop-tabs {
	border-color: #bed5f4;
}
.capec .dijitTabContainerTop-tabs .dijitTabChecked {
	border-bottom-color: #fff;
}
.capec .dijitTabContainerTopStrip {
	border: 1px solid #bed5f4;
}
.capec .dijitTabContainerBottom-tabs {
	border-top: 1px solid #bed5f4;
}
.capec .dijitTabContainerBottom-tabs .dijitTab {
	border-top: 1px solid #bed5f4;
}
.capec .dijitTabContainerBottomStrip {
	border: 1px solid #bed5f4;
}
.capec .dijitTabContainerBottom-spacer,
.capec .dijitTabContainerTop-spacer {
	border-top:0px solid #ffffff;
	border-left:1px solid #bed5f4;
	border-right:1px solid #bed5f4;
	border-bottom:0;
	background: #fff;
}
.capec .dijitTabContainerRight-tabs .dijitTab {
	border-left: 1px solid #bed5f4;
	border-bottom: 1px solid #bed5f4 !important;
}
.dj_ie6 .capec .dijitTabContainerRight-tabs .dijitTabInnerDiv,
.dj_ie7 .capec .dijitTabContainerRight-tabs .dijitTabInnerDiv {
	border-bottom: solid #bed5f4 1px;
}
.capec .dijitTabContainerRightStrip {
	border: 1px solid #bed5f4;
}
.capec .dijitTabContainerLeft-tabs .dijitTab {
	border-right: 1px solid #bed5f4;
	border-bottom: 1px solid #bed5f4;
}
.dj_ie6 .capec .dijitTabContainerLeft-tabs .dijitTabInnerDiv,
.dj_ie7 .capec .dijitTabContainerLeft-tabs .dijitTabInnerDiv {
	border-bottom: solid #bed5f4 1px;
}
.capec .dijitTabContainerLeftStrip {
	border: 1px solid #bed5f4;
}
.capec .dijitTabContainer .tabStripButton-bottom {
	border-top: 1px solid #bed5f4;
}
.capec .dijitAccordionContainer {
	border-color: #bed5f4;
}
.capec .dijitAccordionTitle {
	background: #f9f9f9 url(images/accordionItemActive.jpg) top repeat-x;
	font-weight: bold;
	border-top: 1px solid #afcfdc;
	padding:0px 10px 0px 10px;
	height:28px; _height:23px;
	color: #115c84;
	font-size:12px;
	line-height:28px;
}
.capec .dijitAccordionTitleSelected  {
	background: #f9f9f9 url(images/accordionItemActive.jpg) top repeat-x;
	font-weight: bold;
	border-top: 1px solid #afcfdc;border-bottom: 1px solid #afcfdc;
	padding: 0px;
	height:28px; _height:23px; _padding-top:6px;line-height:28px;padding-left:10px; padding-right:10px;
	color: #115c84;
}
.capec .dijitAccordionArrow {
	background:url(images/newc4.jpg) no-repeat left top;background:url(images/newc4.jpg) no-repeat left top\9;*background:url(images/Newpic_r4_c6.jpg) no-repeat 0 0;_background:url(images/Newpic_r4_c6.jpg) no-repeat 0 0;
	width:10px;
	height:26px;_height:22px; float:right;
	margin-top:0px;
	*margin-top:8px;
}
.capec .dijitAccordionTitleSelected .dijitAccordionArrow {
	background:url(images/newc6.jpg) no-repeat left top;background:url(images/newc6.jpg) no-repeat left top\9;*background:url(images/Newpic_r6_c6.jpg) no-repeat 0 0;_background:url(images/Newpic_r6_c6.jpg) no-repeat 0 0;
	width:10px;
	height:26px;_height:22px; float:right;
	margin-top:0px;
	*margin-top:8px;
}

.capec .dijitInputContainer input, .capec .dijitTextBox {
	width:142px;
	height:19px;
}
.capec .dijitButtonNode {
	border: 1px solid #8ba0bd;
	padding: 0px;
	font-size:12px;
	height:18px;
}
.capec .dijitButtonText {
	color:#0E608E;
	padding: 0px 0.3em;
	line-height:19px;
}
.capec .dijitSliderProgressBarH {
	border-color: #bed5f4;
}
.capec .dijitSliderProgressBarV {
	border-color: #bed5f4;
}
.capec table.dijitCalendarContainer {
	border: 1px solid #bed5f4;
}
.capec .dijitCalendarDayLabelTemplate {
	border-bottom: 1px solid #bed5f4;
}
.capec .dijitTimePickerTick,
.capec .dijitTimePickerMarker {
	border-color: #bed5f4;
}
.capec .dijitToolbar {
	border-bottom: 1px solid #E6E6E6;
	background:#eaeaea url(images/titleBar_1.png) repeat-x top left;
	line-height:24px;
	padding-bottom:1px;
}
.capec .dijitToolbar .dijitButtonHover,
.capec .dijitToolbar .dijitToggleButtonHover,
.capec .dijitToolbar .dijitDropDownButtonHover,
.capec .dijitToolbar .dijitComboButton .dijitButtonContentsHover,
.capec .dijitToolbar .dijitComboButton .dijitDownArrowButtonHover {
	border: 1px solid #CFE2EB;
	background-color:#E2EFF3;
}
.capec .dijitDialog .dijitDialogPaneContent {
	border-top: 1px solid #bed5f4;
}
.capec .dijitBorderContainer .dijitMenuBar {
	border:1px solid #bed5f4;
}

.capec .dijitTabStripIcon {
	height: 14px;
	width: 14px;
	background: url(images/spriteRoundedIconsSmall.png) no-repeat left top ;
}

.capec .dijitTabCloseButton {
	width: 15px;
	height: 15px;
	background: url(images/spriteRoundedIconsSmall.png) no-repeat -60px top;
	margin-top: -1px;
}
.dj_ie6 .capec .dijitTabCloseButton {
	background: url(images/spriteRoundedIconsSmall.gif) no-repeat -60px top;
}
.capec .dijitTabCloseButtonHover {
	background: url(images/spriteRoundedIconsSmall.png) no-repeat -60px -15px;
}
.dj_ie6 .capec .dijitTabCloseButtonHover {
	background: url(images/spriteRoundedIconsSmall.gif) no-repeat -60px -15px;
}
.capec .dijitTabStripIcon {
	height: 14px;
	width: 14px;
	background: url(images/spriteRoundedIconsSmall.png) no-repeat left top ;
}
.dj_ie6 .capec .dijitTabStripIcon {
	background-image: url(images/spriteRoundedIconsSmall.gif);
}
.capec .dijitTitlePane .dijitClosed .dijitArrowNode {
	background: url(images/spriteRoundedIconsSmall.png) no-repeat -30px top;
}
.dj_ie6 .capec .dijitTitlePane .dijitClosed .dijitArrowNode {
	background:url(images/spriteRoundedIconsSmall.gif) no-repeat -30px top;
}
.capec .dijitTitlePane .dijitOpen .dijitArrowNode {
	background:url(images/spriteRoundedIconsSmall.png) no-repeat -15px top;
}
.dj_ie6 .capec .dijitTitlePane .dijitOpen .dijitArrowNode {
	background:url(images/spriteRoundedIconsSmall.gif) no-repeat -15px top;
}
.capec .dijitTabInnerDiv .dijitTabContent {
	padding:4px 3px 2px 4px;
	background: url(images/tabContainerSprite.gif) repeat-x 0 -350px;
	position: relative;
}
.capec .dijitTabStripMenuIcon {
	background-position: -15px top;
}
.capec .dijitTabStripSlideRightIcon {
    background-position: -30px top;
}

.capec .dijitTabHover .dijitTabInnerDiv .dijitTabContent {
	background: url(images/tabContainerSprite.gif) repeat-x 0 -200px;
}
.capec .dijitTabChecked
{

	background: url(images/tabContainerSprite.gif) no-repeat 0 -0;
}
.capec .dijitTabChecked .dijitTabInnerDiv {
	background: url(images/tabContainerSprite.gif) no-repeat right -100px;
}
.capec .dijitTabChecked .dijitTabInnerDiv .dijitTabContent {
	background: url(images/tabContainerSprite.gif) repeat-x 0 -50px;
}
.dijitPlaceHolder {

	color: #AAAAAA;
	font-style: italic;
	position: absolute;
	line-height:21px;
	left: 0;
	#filter: "";
}

.capec .dijitDialog .dijitDialogTitle{
	font-size: 12px;
}


.capec{
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.capec .loader{
	padding:0;
	margin:0;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#ededed;
	z-index:999;
	vertical-align:middle;
}

.capec .loader div{
	padding:5px;
	position:relative;
	left:0px;
	top:0px;
	width:175px;
	background:#3c3;
	color:#fff;
	direction:ltr;
}

.capec .main{
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.capec .main_top{
	background: url(images/logo_bg.jpg) repeat-x left top;
	width:100%;
	height:69px;
	overflow:hidden;
}

.capec .main_copyright{
	background:url(images/bg_cpyr.jpg) repeat-x;
	text-align:right;
	padding-right:5px;
	height:15px;
	_height:28px;
	*height:28px;
	_line-height:28px;
	*line-height:28px;
	line-height:15px;
	margin:0;
	font-size:12px;
	border: 1px #bed5f4 solid;
}



.capec .main_logo{
	background: url(images/logo.jpg);
	width:345px;
	height:69px;
	float:left;
}
.capec .main_top_right{
	background: url(images/logo_right.jpg) no-repeat right bottom;
	font-size:12px;
	width:650px;
	height:69px;
	position:relative;
	float:right
}
.capec .main_top_bar{
	height:32px;
	line-height:32px;
	text-align:right;
	position:absolute;
	top:32px;
	right:15px;
	color:#fff;
}
.capec .main_top_bar a{
	color:#fff;
}
.capec .main_top_bar a:hover{
	text-decoration:none;
	color:#333;
}
.capec .main_top_bar li{
	background:url(images/top_line.jpg) no-repeat right 3px;
	padding:0 10px;
	*margin-top:12px;
	text-align:right;
	float:left;
	height:32px;
	list-style-type: none;
}
.capec .main_top_bar li a{
	padding-left:25px;
	background:url("") no-repeat  left center;
	text-decoration:none;
}
.capec .main_top_bar .l2{
	background:url(images/2.gif) no-repeat;
	padding-left:20px;
}
.capec .main_top_bar .l3{
	background:url(images/3.gif) no-repeat;
}
.capec .main_top_bar .l4{
	background:url(images/4.gif) no-repeat;
}
.capec .main_top_bar .l5{
	background:url(images/5.jpg) no-repeat;
}
.capec .main_clr{
	clear:both;
}

.capec .main_helpChk{
	margin-top:2px;
	float:left;
}

.capec .main_tabs{
	width:100%;
	padding-Right:3px;
}

.capec .main_left{
	width:230px;
	padding-left:5px;
}

.capec .main_left_top{
	padding:1px;
	height:26px;
	_height:30px;
	border: 1px #bed5f4 solid;
}
.capec .main_left_top_search{
	background:#DDEAFA;
	height:26px;
	padding-left:3px;
}


.dijitIconRole{background-position: -512px;}
.dijitIconCard{background-position: -544px;}
.dijitIconEmployee{background-position: -528px;}
.dijitIconRole,
.dijitIconCard,
.dijitIconEmployee{
	background-image: url(images/commonIconsObjActEnabled.png);
	width: 16px;
	height: 16px;
}

.capec .dialogPaneActionBar {
	background-color: #efefef;
	padding: 1px 5px 2px 7px;
	text-align: right;
	/*border-top: 0px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;*/
	margin: 0px 0px -4px;
	*height:29px;
	height:29px;
}

.capec .tipDialogPaneActionBar {
	background-color: #efefef;
	padding: 1px 5px 2px 7px;
	text-align: right;
	border-top: 0px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
	margin: 0px 0px -4px;
	*height:29px;
	height:29px;
}

.capec .dialogPaneActionBar .dialogPaneButton{
	margin-top:5px;
}

.capec .tipDialogPaneActionBar .dialogPaneButton{
	margin-top:5px;
}

/*.searchform{
	border-bottom: 1px solid #E6E6E6;
	background:#F2F2F2;
	overflow:hidden; color:#0E608E;
}*/

.capec #main_foot{
    height:27px;
    width:100%;
    position: absolute;
    bottom:0;
    left:0;
    z-index:100;
	background: url(images/copyright_bg.png) repeat-x;
}

.capec #main_foot td{
	background: url(images/copyright_bg.png) repeat-x;
	color: #8EA3BF;
	padding-right: 10px;
	height: 27px;
	border-top: 1px solid #8EA3BF;
	border-bottom: 1px solid #8EA3BF;
	text-align: right;
	font-size: 12px;
}

.capec #main_head {
    height:103px;
    width:100%;
    left:0;
    top:0px;
    position: absolute;
    z-index:100
}

.capec #content {
    width:100%;
    overflow:auto;
    position:absolute;
    z-index:20;
    left:0;
    top:100px;
    bottom:27px;
    _height:100%;
	background: #FAFBFD url(images/main_conbg.jpg) repeat-x;
}

/** html #content {
	top: 0;
	height: 100%;
	max-height: 100%;
	width: 100%;
	overflow: auto;
	position: absolute;
	z-index: 0;
	background: #FAFBFD url(images/main_conbg.jpg) repeat-x;
	padding: 0px;
}*/

.capec .loader {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ededed;
	z-index: 999;
	vertical-align: middle;
}

.capec .loader div {
	padding: 5px;
	position: relative;
	left: 0px;
	top: 0px;
	width: 175px;
	background: #3c3;
	color: #fff;
	direction: ltr;
}

/* main */
* {
	margin: 0;
	padding: 0;
}
 /* This needs to be first because FF3 is now supporting this  */
.clearfix {
	display: inline-block;
}

.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	font-size: 0;
	visibility: hidden;
}
/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

html{
    _padding:103px 0 27px 0;
    _overflow:hidden;
}
html,body {
    height:100%;
    width:100%;
}

fieldset,img {
	border: 0;
}

address,caption,cite,code,dfn,em,th,var {
	font-style: normal;
	font-weight: normal;
}

li {
	list-style: none;
}


h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
	margin:0;
	padding:0;
}

q:before,q:after {
	content: '';
}

abbr,acronym {
	border: 0;
	font-variant: normal;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}
legend {
	color: #000;
}


.clear {
	float: none;
	clear: both;
	font-size: 0px;
	line-height: 0px;
	height: 0px;
	min-height: 0px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}





/* site wide */
a.expand {
	display: block;
	float: right;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	vertical-align: middle;
	*width: 90px;
	width: auto !important;
}

img.iconTick {
	margin-left: 5px;
	vertical-align: middle;
}

span.HighlightSearch {
	font-weight: bold;
}

.capec #top-header {
	width: auto !important;
	height: 32px;
	min-width: 960px;
	position: relative;
	background: url(images/p_navbg.png) repeat-x;
	background-color: #f8f8f8;
	border-top: 1px solid #8ea3bf;
	border-bottom: 1px solid #8ea3bf;
}

.capec #menu {
	min-width: 1000px;
	width: auto !important;
	position: relative;
	z-index: 10;
}

.capec #menu .nav {
	min-width: 980px;
	margin: 0 auto;
	margin-left: 310px;
	height: 32px;
	position: absolute;
	z-index: 100;
}

.capec #menu .nav ul {
	float: left;
	_padding:0; _margin:0;
}

.capec #menu li {
	float: left;
	display: block;
	overflow: visible;
	vertical-align: top;
	 _height:24px; _line-height:24px;
}

.capec .nav a {
	color: #333;
	cursor: pointer;
	text-decoration:none;_float: left; _text-align:left; _font-size:12px; _font-weight:normal;
}
.capec .nav a:hover{color:#0848C7; text-decoration:none;}
.capec .nav a.trad, .capec .nav a.solutions_products, .capec .nav a.support, .capec .nav a.about_huawei, .capec .nav

a.join_huawei,.capec .nav a.shop_huawei {
	display: block;
	line-height: 32px;
	text-decoration: none;
	color: #2B4365;
	font-size: 12px;
	text-align: center;
	position: relative;
	z-index: 1007;
}
.capec .nav a:hover.trad{
color:#0848C7;
}

.capec .nav a.trad span, .capec .nav a.solutions_products span, .capec .nav a.support span, .capec .nav

a.about_huawei span, .capec .nav a.join_huawei

span,.nav a.shop_huawei span {
	display: block;
	height: 33px;
	margin-left: 2px;
	width: auto;
	text-shadow: #fff 1px 1px 0px;
	padding: 0 22px 0 22px;
	_width:88px;
}

.capec .nav li a.hover {
	color: #0848C7;
	background-image: url(images/hw_s_232053.png);
	background-repeat: no-repeat;
	background-position: 0 -85px;
	background-color: transparent;
	margin-top: 0px;
	line-height: 32px;
}

.capec .nav li a.hover span {
	background-image: url(images/hw_s_232053.png);
	background-repeat: no-repeat;
	background-position: 100% -18px;
	background-color: transparent;
	color: #0848C7;
}

.capec .nav li a.active span {
	color: #0848C7;
}
/*take off background*/
.capec .nav a.shop_huawei:hover,.capec .nav li a.shop_huawei:hover span {
	background: none;
	color:#0848C7;
}

.capec .menuitempanel {
	top: 33px;
	position: absolute;
	z-index: 1000;
	display: none;
	left: 0px;
	-webkit-box-shadow: 2px 2px 6px rgba(0,0,0,.3);
	box-shadow: 2px 2px 6px rgba(0,0,0,.3);
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

.capec .menuright {
	right: 0px;
	left: auto;
}

.capec .menucontentdiv {
	background: #fff url(images/hw_s_232057.png) 0 0 repeat-x;
	border-left: 1px solid #CCC;
	margin-right:0px;
	padding: 20px 20px 0 30px;
	width: auto;
	height: 100%;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
    min-width:550px;
	_width:700px;	 _float:left;
}

.capec .menucontentdiv .clearfix {
	padding-bottom: 10px;
	position: relative;
}

.capec .menufillet_s, .capec .menufillet_w, .capec .menufillet_e, .capec .menufillet_se, .capec .menufillet_sw {
	position: absolute;
	zoom: 1;
	display: block;
	overflow: hidden;
	background-attachment: scroll;
	background-color: transparent;
	z-index: 999;
	width: 10px;
	height: 10px;
}

.capec .menufillet_e {
	background-image: url(images/hw_s_232058.png);
	background-repeat: repeat-y;
	_background: transparent;
	height: 100%;
	right: 0px;
	top: 0;
	width: 7px;
}

.capec .verticalLine {
	background-color: #FFFFFF;
	border-left: #cfcfcf solid 1px;
	width: 1px;
	height: 100%;
	left: 200px;
	top: 0px;
	float: left;
	min-height: 200px;
	height: 200px;
	margin: 0 45px;
}

.capec #menu .menuitempanel .list li {
	float: none;
	top: 0;
	line-height: 24px;
	_height:18px; _width:104px;_float:left; _text-align:left;
}
.capec #menu .menuitempanel .m_box {
+width:142px;_width:142px;
	_float:left; +float:left;}
.capec #menu .menuitempanel .m_box li {
	float: none;
	top: 0;
	line-height: 24px;
	+width:142px;_width:142px;
	+float:left; +text-align:left;_float:left; _text-align:left;
	+display:block;_display:block;

}
.capec #menu .menuitempanel .m_box li span{
	width:100px;
	text-align:right;
	display:inline-table;
}
.capec #menu .menuitempanel li img {
	+width:142px;_width:142px;
	+height:189px;_height:189px;

}
.capec #menu .menuitempanel li.left {
	float: left;
}

.capec .menuitempanel h2 {
	color: #bb0000;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
}

.capec .menuitempanel h2 a {
	color: #005ca1;
}

.capec .menuitempanel ul li a {
	color: #666;
}

.capec .menuitempanel ul.taxonomy {
	margin-left: -5px;
}

.capec #menu .menuitempanel ul.taxonomy li {
	font-size: 14px;
	font-weight: bold;
	text-indent: 10px;
	line-height: 32px;
}

.capec .menuitempanel ul.taxonomy li a {
	color: #333;
}

.capec .menuitempanel ul.m_box li.title {
	font-weight: bold;
	margin-top: 5px;
}

.capec .menuitempanel ul.m_box li.summary {
	width: 259px;
	font-weight: normal;
}

.capec #menu .menuitempanel ul.m_box li.summary ul {
	padding: 0 0;
	float: none;
}

.capec .menuitempanel .solutions_products ul.m_box li.summary {
	padding: 0 0 0 2px;
}

.capec .menuitempanel .solutions_products ul.m_box li.left {
	margin-right: 15px;
}

.capec .menuitempanel ul.list {
	margin-right: 45px;_width:140px; _padding:0; _margin:0; _float:left;
}

.capec .menuitempanel ul > li.left > ul {
	margin-right: 45px;
}

.capec .menuitempanel ul.list h3 {
	padding: 0px 0px 0px 0px;
}

.capec .menuitempanel ul.list h3 a {
	color: #333333;
	font-size: 14px;
	font-weight: bold;
}

.capec .menuitempanel .solutions_products ul.m_box li.last, .capec .menuitempanel ul.last,.capec .menuitempanel ul

li ul.last {
	margin: 0px;
}

.capec .shadow_b_layout {
	background-image: url(images/hw_s_232053.png);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 0 -67px;
	position: absolute;
	width: 100%;
	left: 0px;
}

.capec .shadow_b_layout div {
	background: url(images/hw_s_232053.png) 100% -1px no-repeat;
	background-attachment: scroll;
	display: block;
	height: 16px;
	margin-left: 15px;
}


	.capec .shadow_b_layout, .capec .menufillet_e {
		display: none;
	}

	.capec .menucontentdiv .clearfix {
		padding-bottom: 15px;
	}


/*opera&#19987;&#23646;*/
:root .capec .shadow_b_layout, :root .capec .menufillet_e {
	display: none\9;
}/*IE9&#19987;&#23646;*/
:root .capec .menucontentdiv {
	margin-right: 0px\9;
	border-right: 1px solid #CCC\9;
	border-bottom: 1px solid #CCC\9;
}

:root .capec .menucontentdiv .clearfix {
	padding-bottom: 15px\9;
}
.capec .text_input {
	height: 20px;
	line-height: 20px;
	width: 170px;
	background: #FAFCFE;
	border: 1px solid #B0C6E3;
}
.capec .past_nav dd {
	display: none;
	width: 100px;
	background: #fff;
	border: 1px solid #C0D6F3;
}

.capec .past_nav dl {
	position: absolute;
	right: 10px;
	z-index: 10;
}

.capec .past_nav dl:hover dd,a:hover dd {
	display: block;
}

.capec .past_nav a {
	color: #333;
}

.capec .past_nav a:hover {
	border: 0;
	color:#0848C7;
}

.capec .m_help {
	display: block;
	background: url(images/p_help.png) no-repeat;
	float: left;
	width: 26px;
	height: 25px;
}

.m_help:hover {
	background: url(images/p_help_over.png) no-repeat;
}

.capec .m_quit {
	display: block;
	background: url(images/p_quit.png) no-repeat;
	width: 68px;
	height: 25px;
}

.capec .m_quit:hover {
	background: url(images/p_quit_over.png) no-repeat;
}

.capec .p_ofenn {
	width: 99px;
	height: 34px;
	position: absolute;
	z-index: 99;
	left: 200px;
	background: url(images/often.png) no-repeat;
	top: -1px;
}

.capec .p_often_menu {
	background: url(images/p_often_secbg.png) repeat-x;
	border-bottom: 1px solid #8ea3bf;
	min-width: 960px;
	overflow: hidden;
}

.capec .p_often_sec {
	height: 68px;
}

.capec .p_often_sec li {
	float: left;
	min-width:87px;
	margin-top: 4px;
	background: url(images/sec_vline.png) no-repeat  right center;
	padding-right:3px;
}

.capec .p_often_sec li a {
	color: #555;
	text-align: center;
	display: block;
	text-decoration:none;
	margin:0 3px;
}
.capec .p_often_sec li a:hover {
	color:#0848C7;
	text-align: center;
	display: block;
}
.capec .often_img {
	display: block;
	height: 40px;
}

.capec .p_logo {
	height: 28px;
	background: url(images/p_logo_rbg.png) no-repeat right;
	position: absolute;
	left: 6px;
	z-index: 99;
	/*padding-right: 10px;*/
	_float:left;
	width:190px;
}

.capec .p_logo_lbg {
	background: url(images/p_logo_lbg.png) no-repeat left;
	display: block;
	width: 5px;
	height: 28px;
	float:left;
	_float:left;
}

.capec .p_logo h1 {
	float: right;
	_float:left;
	margin-right:5px;
}

.capec .p_logo h1 a {
	float: right;
/*	margin-left: 5px;
*/	font-family: "宋体";
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	line-height: 25px;
	background: url(images/p_logo.gif) no-repeat left center;
	padding-left: 22px;
	_float:left;
}

.capec .bread_nav {
	height: 26px;
	background: url(images/bread_nav.png) repeat-x;
	border-bottom: 1px solid #8ea3bf;
	text-indent: 8px;
	color: #999;
	line-height: 26px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	position: relative;
	text-align: left;
	}

.capec .current_address {
	position: absolute;
	left: 0;
}

.capec .bread_nav a,.capec .bread_nav a:visited {
	color: #999;
}

.capec .past_nav {
	position: absolute;
	right: 10px;
	top: 5px;
}

.capec .p_help_cancel {
	position: absolute;
	right: 2px;
	width: 68px;
	top: 3px;
	height: 25px;
	z-index: 9999;
}

.capec .p_help_cancel a {
	margin: 0 5px 0 0;
	width: 68px;
	height: 25px;
	display: block;
}

.capec #menu .nav .m_nav_sec {
	width: 500px;
}

.capec #menu .nav .m_nav_sec ul li {
	float: left;
	margin: 5px;
	display: block;
	padding: 0 5px;
}

.capec #menu .nav .m_nav_sec ul li a {
	display: block;
	text-align: center;
}

.capec .m_box_span {
	display: inline-table;
	text-align: right;
	width: 60px;
	font-weight: normal;
	vertical-align: middle;
}

.capec .btn1 {
	width: 65px;
	height: 29px;
	border: 0;
	background: url(images/btnbg1.png) no-repeat;
	line-height: 29px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #333;
}

.capec .p_logo a {
	color: #fff;
	text-decoration: none;
}
.capec .p_logo a img{_float:left; border:0; padding: 0; margin:0;}




/* main */

