@import url("../soria/soria.css");

.dijitTabCloseButton {
	margin-left: 0px;
}
.dijitTab .tabLabel {
	font-weight:bold;
	color:#333
}
.soria .dijitTabPaneWrapper {
	border:1px solid #ffaa25;
	border-top:none;
}
.soria .dijitTabInnerDiv {
	padding:0 3px 0 0;
	margin: 0 0 0 4px;
	background: url(images/tabContainerSprite.gif) no-repeat;
	background-position: right -400px;
}
.soria .dijitTab {
	background: url(images/tabContainerSprite.gif) no-repeat 0 -300px;
	border-bottom: 1px #ffaa25 solid;
}
.soria .dijitTabContainerTop-tabs {
	border-color: #ffaa25;
}
.soria .dijitTabContainerTop-tabs .dijitTabChecked {
	border-bottom-color: #fff;
}
.soria .dijitTabContainerTopStrip {
	border: 1px solid #ffaa25;
}
.soria .dijitTabContainerBottom-tabs {
	border-top: 1px solid #ffaa25;
}
.soria .dijitTabContainerBottom-tabs .dijitTab {
	border-top: 1px solid #ffaa25;
}
.soria .dijitTabContainerBottomStrip {
	border: 1px solid #ffaa25;
}
.soria .dijitTabContainerBottom-spacer,
.soria .dijitTabContainerTop-spacer {
	border-top:0px solid #ffffff;
	border-left:1px solid #ffaa25;
	border-right:1px solid #ffaa25;
	border-bottom:0;
	background: #fff;
}
.soria .dijitTabContainerRight-tabs .dijitTab {
	border-left: 1px solid #ffaa25;
	border-bottom: 1px solid #ffaa25 !important;
}
.dj_ie6 .soria .dijitTabContainerRight-tabs .dijitTabInnerDiv,
.dj_ie7 .soria .dijitTabContainerRight-tabs .dijitTabInnerDiv {
	border-bottom: solid #ffaa25 1px;
}
.soria .dijitTabContainerRightStrip {
	border: 1px solid #ffaa25;
}
.soria .dijitTabContainerLeft-tabs .dijitTab {
	border-right: 1px solid #ffaa25;
	border-bottom: 1px solid #ffaa25;
}
.dj_ie6 .soria .dijitTabContainerLeft-tabs .dijitTabInnerDiv,
.dj_ie7 .soria .dijitTabContainerLeft-tabs .dijitTabInnerDiv {
	border-bottom: solid #ffaa25 1px;
}
.soria .dijitTabContainerLeftStrip {
	border: 1px solid #ffaa25;
}
.soria .dijitTabContainer .tabStripButton-bottom {
	border-top: 1px solid #ffaa25;
}
.soria .dijitAccordionContainer {
	border-color: #ffaa25;
}
.soria .dijitAccordionTitle {
	background: #f9f9f9 url(images/accordionItemActive.jpg) top repeat-x;
	font-weight: bold;
	border-top: 1px solid #afcfdc;
	padding:0px 10px 0px 10px;
	height:28px; _height:23px;
	color: #115c84;
	font-size:12px;
	line-height:28px;
}
.soria .dijitAccordionTitleSelected  {
	background: #f9f9f9 url(images/accordionItemActive.jpg) top repeat-x;
	font-weight: bold;
	border-top: 1px solid #afcfdc;border-bottom: 1px solid #afcfdc;
	padding: 0px;
	height:28px; _height:23px; _padding-top:6px;line-height:28px;padding-left:10px; padding-right:10px;
	color: #115c84;
}
.soria .dijitAccordionArrow {
	background:url(images/newc4.jpg) no-repeat left top;background:url(images/newc4.jpg) no-repeat left top\9;*background:url(images/Newpic_r4_c6.jpg) no-repeat 0 0;_background:url(images/Newpic_r4_c6.jpg) no-repeat 0 0;
	width:10px;
	height:26px;_height:22px; float:right;
	margin-top:0px;
	*margin-top:8px;
}
.soria .dijitAccordionTitleSelected .dijitAccordionArrow {
	background:url(images/newc6.jpg) no-repeat left top;background:url(images/newc6.jpg) no-repeat left top\9;*background:url(images/Newpic_r6_c6.jpg) no-repeat 0 0;_background:url(images/Newpic_r6_c6.jpg) no-repeat 0 0;
	width:10px;
	height:26px;_height:22px; float:right;
	margin-top:0px;
	*margin-top:8px;
}

.soria .dijitInputContainer input,
.soria .dijitTextBox {
	width:142px;
}
.soria .dijitButtonNode {
	border: 1px solid #8ba0bd;
	padding: 0px;
	font-size:12px;
	height:18px;
}
.soria .dijitButtonText {
	color:#0E608E;
	padding: 1px 0.3em;
}
.soria .dijitSliderProgressBarH {
	border-color: #ffaa25;
}
.soria .dijitSliderProgressBarV {
	border-color: #ffaa25;
}
.soria table.dijitCalendarContainer {
	border: 1px solid #ffaa25;
}
.soria .dijitCalendarDayLabelTemplate {
	border-bottom: 1px solid #ffaa25;
}
.soria .dijitTimePickerTick,
.soria .dijitTimePickerMarker {
	border-color: #ffaa25;
}
.soria .dijitToolbar {
	border-bottom: 1px solid #E6E6E6;
	background:#eaeaea url(images/titleBar_1.png) repeat-x top left;
	line-height:24px;
	padding-bottom:1px;
}
.soria .dijitToolbar .dijitButtonHover,
.soria .dijitToolbar .dijitToggleButtonHover,
.soria .dijitToolbar .dijitDropDownButtonHover,
.soria .dijitToolbar .dijitComboButton .dijitButtonContentsHover,
.soria .dijitToolbar .dijitComboButton .dijitDownArrowButtonHover {
	border: 1px solid #CFE2EB;
	background-color:#E2EFF3;
}
.soria .dijitDialog .dijitDialogPaneContent {
	border-top: 1px solid #ffaa25;
}
.soria .dijitBorderContainer .dijitMenuBar {
	border:1px solid #ffaa25;
}

.soria .dijitTabStripIcon {
	height: 14px;
	width: 14px;
	background: url(images/spriteRoundedIconsSmall.png) no-repeat left top ;
}

.soria .dijitTabCloseButton {
	width: 15px;
	height: 15px;
	background: url(images/spriteRoundedIconsSmall.png) no-repeat -60px top;
	margin-top: -1px;
}
.dj_ie6 .soria .dijitTabCloseButton {
	background: url(images/spriteRoundedIconsSmall.gif) no-repeat -60px top;
}
.soria .dijitTabCloseButtonHover {
	background: url(images/spriteRoundedIconsSmall.png) no-repeat -60px -15px;
}
.dj_ie6 .soria .dijitTabCloseButtonHover {
	background: url(images/spriteRoundedIconsSmall.gif) no-repeat -60px -15px;
}
.soria .dijitTabStripIcon {
	height: 14px;
	width: 14px;
	background: url(images/spriteRoundedIconsSmall.png) no-repeat left top ;
}
.dj_ie6 .soria .dijitTabStripIcon {
	background-image: url(images/spriteRoundedIconsSmall.gif);
}
.soria .dijitTitlePane .dijitClosed .dijitArrowNode {
	background: url(images/spriteRoundedIconsSmall.png) no-repeat -30px top;
}
.dj_ie6 .soria .dijitTitlePane .dijitClosed .dijitArrowNode {
	background:url(images/spriteRoundedIconsSmall.gif) no-repeat -30px top;
}
.soria .dijitTitlePane .dijitOpen .dijitArrowNode {
	background:url(images/spriteRoundedIconsSmall.png) no-repeat -15px top;
}
.dj_ie6 .soria .dijitTitlePane .dijitOpen .dijitArrowNode {
	background:url(images/spriteRoundedIconsSmall.gif) no-repeat -15px top;
}
.soria .dijitTabInnerDiv .dijitTabContent {
	padding:4px 3px 2px 4px;
	background: url(images/tabContainerSprite.gif) repeat-x 0 -350px;
	position: relative;
}
.soria .dijitTabStripMenuIcon {
	background-position: -15px top;
}
.soria .dijitTabStripSlideRightIcon {
    background-position: -30px top;
}

.soria .dijitTabHover .dijitTabInnerDiv .dijitTabContent {
	background: url(images/tabContainerSprite.gif) repeat-x 0 -200px;
}
.soria .dijitTabChecked
{

	background: url(images/tabContainerSprite.gif) no-repeat 0 -0;
}
.soria .dijitTabChecked .dijitTabInnerDiv {
	background: url(images/tabContainerSprite.gif) no-repeat right -100px;
}
.soria .dijitTabChecked .dijitTabInnerDiv .dijitTabContent {
	background: url(images/tabContainerSprite.gif) repeat-x 0 -50px;
}
.dijitPlaceHolder {

	color: #AAAAAA;
	font-style: italic;
	position: absolute;
	line-height:21px;
	left: 0;
	#filter: "";
}



html,body,#main{
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

#main_loader{
	padding:0;
	margin:0;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#ededed;
	z-index:999;
	vertical-align:middle;
}

#main_loaderInner{
	padding:5px;
	position:relative;
	left:0px;
	top:0px;
	width:175px;
	background:#3c3;
	color:#fff;
	direction:ltr;
}

#main_copyright{
	background:url(images/bg_cpyr.jpg) repeat-x;
	text-align:right;
	padding-right:5px;
	height:15px;
	_height:28px;
	*height:28px;
	_line-height:28px;
	*line-height:28px;
	line-height:15px;
	margin:0;
	font-size:12px;
	border: 1px #ffaa25 solid;
}



/*头部*/
#main_top{
	background: url(images/logo_bg.jpg) repeat-x left top;
	width:100%;
	height:69px;
	overflow:hidden;
}
#main_logo{
	background: url(images/logo.jpg);
	width:345px;
	height:69px;
	float:left;
}
#main_top_right{
	background: url(images/logo_right.jpg) no-repeat right bottom;
	font-size:12px;
	width:650px;
	height:69px;
	position:relative;
	float:right
}
#main_top_bar{
	height:32px;
	line-height:32px;
	text-align:right;
	position:absolute;
	top:32px;
	right:15px;
	color:#fff;
}
#main_top_bar a{
	color:#fff;
}
#main_top_bar a:hover{
	text-decoration:none;
	color:#333;
}
#main_top_bar li{
	background:url(images/top_line.jpg) no-repeat right 3px;
	padding:0 10px;
	*margin-top:12px;
	text-align:right;
	float:left;
	height:32px;
	list-style-type: none;
}
#main_top_bar li a{
	padding-left:25px;
	background:url("") no-repeat  left center;
	text-decoration:none;
}
#main_top_bar #l2{
	background:url(images/2.gif) no-repeat;
	padding-left:20px;
}
#main_top_bar #l3{
	background:url(images/3.gif) no-repeat;
}
#main_top_bar #l4{
	background:url(images/4.gif) no-repeat;
}
#main_top_bar #l5{
	background:url(images/5.jpg) no-repeat;
}
#main_clr{
	clear:both;
}

#widget_main_chk_help{margin-top:2px;float:left;}

#main_tabs{
	width:100%;
	padding-Right:3px;
}

#main_left{
	width:230px;
	padding-left:5px;
}

#main_left_top{
	padding:1px;
	height:26px;
	_height:30px;
	border: 1px #ffaa25 solid;
}
#main_left_top_search{
	background:#DDEAFA;
	height:26px;
	padding-left:3px;
}


.dijitIconRole{background-position: -512px;}
.dijitIconCard{background-position: -544px;}
.dijitIconEmployee{background-position: -528px;}
.dijitIconRole,
.dijitIconCard,
.dijitIconEmployee{
	background-image: url(images/commonIconsObjActEnabled.png);
	width: 16px;
	height: 16px;
}


.dijitDialogPaneActionBar {
	background-color: #efefef;
	padding: 1px 5px 2px 7px;
	text-align: right;
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	margin: 10px -8px -10px;
	*height:28px;
}

.searchform{
	border-bottom: 1px solid #E6E6E6;
	background:#F2F2F2;
	overflow:hidden; color:#0E608E;
}

